body{
    scroll-behavior: smooth;
}
.container{
    margin-bottom: 100px;
}
.pink-bg{
    background-color: rgb(17, 2, 4);
    border-radius: 10px;

}
.carousel-item{
    padding: 40px 40px;
}
.price{
    color: rgb(241, 241, 247);
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #19b19c 0%, #1c3f2f98 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1{
    background-image: linear-gradient(to bottom, #0e0d0e 0%, #272526 100%);
}
.cat2{
    background-image: linear-gradient(to bottom, #2c1580 0%, #1d1a1d 100%);
}
.cat3{
    background-image: linear-gradient(to bottom, #292727 0%, #120429 100%);
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.categories h1{
    color: #fff;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
}
#subscribe{
    height: 300px;
}
footer{
    text-align: center;
}
.linktxt{
    text-decoration: none;
    color: white;
}
.cr{
    height: 5rem;
    width: 5rem;
}
.fa-star, .fa-star-half-alt{
    color: #ffbf00;
}
.fa-quote-left{
    font-size: 2rem;

}
.rvx{
    display: inline-flex;
}
h4{
    font-size: 10px;
    text-align: center;
}